* {
  box-sizing: border-box;
  margin: 0rem;
}

body {
  background-color: #002654;
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 1rem;
}

h2 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1em;
  text-decoration: underline;
  text-decoration-color: #EF4135;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
}

h3 {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2;
  margin-top: 1.5em;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1em;
}

li {
  line-height: 1;
  margin-bottom: 1em;
}

a {
  color: #FFFFFF;
  margin: 0;
}
