body {
  background: #f2f2f2;
  color: #000;
}

html * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  list-style: none;
  margin: 8px;
  line-height: 14px;
}

h1 {
  font-size: 16px;
  font-weight: normal;
}

body {
  margin: 14px;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  margin: 0;
  color: #444444;
}

/* Set up the paragraph text */
p {
  font-size: 16px; /* Set the font size */
  line-height: 1.5; /* Set the line height */
}

/* p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1.5em;
  color: #333;
} */

header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-title {
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
}

.header-pic {
  max-width: 150px;
  max-height: 100%;
  border-radius: 50%;
  border: 2px solid #cccccc;
}
